

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: teal;
    color: whitesmoke;
}

.myName {
    font-size: 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    border-right: solid whitesmoke;
    padding: 0px 5px 0px 5px;
}

nav li:hover {
    background-color: rgb(1, 68, 68);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: teal;
}

@media screen and (max-width: 768px) {
    .header, footer {
        flex-direction: column;
    }
}