:root {
    --teal: teal;
    --whitesmoke: whitesmoke;
}

body {
    background-color:var(--whitesmoke);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(teal);
    color: var(--whitesmoke);
}

.myName {
    font-size: 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    text-decoration: none;
    color: var(--whitesmoke);
    border-right: solid var(--whitesmoke);
    padding: 0px 5px 0px 5px;
}

nav li:hover {
    background-color: rgb(1, 68, 68);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(teal);
}

@media screen and (max-width: 768px) {
    .header, footer {
        flex-direction: column;
    }
}