

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: teal;
    color: whitesmoke;
}

.myName {
    font-size: 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    border-right: solid whitesmoke;
    padding: 0px 5px 0px 5px;
}

nav li:hover {
    background-color: rgb(1, 68, 68);
}



footer {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 20px 0px;
    color: teal;
}

footer h2 {
    font-size: 20px;
}

section ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    margin-right: 50px;
    
}

section a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .header, footer {
        flex-direction: column;
    }
}